
ul{
	list-style-type: none;
}
.library-section-area{
	width: 85%;
}
.shelf-araea-left{
	width: 20%;
	background-color: white;
	min-height: 500px;
	float: left;
}
.book-display-area-right{
	float: right;
	width: 79%;
	
}
.book-display-area-right .panel{
	width: 100%;
}
.book-content-ul{
	list-style-type: none;
	margin-top: 20px;
	float: left;
	/* height: 200px; */
}
.book-content-ul .empty-shelf-caption{
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: xx-large;
}
.book-content-ul .non-empty-shelf-caption{
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: medium;
}
.full-book-content{
	float: left;
	/* width: 210px;
	height: 350px; */
	border: 1px solid transparent;
	padding-bottom: 10px;
}

.full-book-content:HOVER{
	border: 1px solid brown;
}
  .full-book-content:HOVER .book-quick-view{
	display:inline;
	float:left;
	height:30px;
	width: 40%;
	background-color: #7323dc;
	border: 1px solid transparent;
	cursor: pointer;
}

.add-to-shelf{
	float:right;
	height:30px;
	width: 45%;
	background-color: #7323dc;
	cursor: pointer!important;
	color: white;
	padding: 5px;
	background-color: transparent;
	border: 1px solid transparent;
}
  .full-book-content:HOVER .add-to-shelf{
	display:inline;
	float:right;
	height:30px;
	width: 45%;
	background-color: #7323dc;
	border: 1px solid transparent;
	cursor: pointer;
}
  
.book-image-container{
	position: relative;
	margin-top: 30px;
}
 .book-image-container .remove-book-link-section{
	position: absolute;
	bottom: 7%;
	left: 15%;
	width: 30px;
	height: 30px;
	color:red;
}
.fa-color-red{
	color:red
}
.book-image-container img{
	width: 170px;
	height: 200px;
	margin:5px 10px 10px 10px;
	clear: both;
	cursor: pointer!important;
	max-height: 200px;
	max-width: 170px;
}
.book-image-container .read-book-link-section img{
	position: absolute;
	bottom: 3%;
	right: 18%;
	width: 30px;
	height: 30px;
}
.book-info-section{
	width: 200px;
	height: 50px;
	padding-left: 25px;
}
.book-info-section .book-info-row{
	margin-top: 5px;
}
.book-info-section .book-info-title{
	/* width: 61px; */
	float: left;
	font-weight: bold;
}
.book-info-section .book-info-value{
	margin-right: 5px;
}

.readableLink-li{
	background-color: blue;
	color: white;
	width: 150px;
}
.readableLink-li:HOVER{
	background-color: green;
}
.readableLink-li a{
	text-decoration: none
}
.book-title-section{
	width: 180px;
}
.book-quick-view{
	float:left;
	height:30px;
	width: 40%;
	background-color: #7323dc;
	cursor: pointer!important;
	color: white;
	padding: 5px;
	background-color: transparent;
	border: 1px solid transparent;
}

.full-book-content:HOVER .rate-Book-Section{
	display: block;
	position: fixed;
	z-index: 1000;
}

.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  
  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}
.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}
.endScrollingSec{
	width: 100%;
	height: 40px;
	color: white;
	clear: both;
	background-color: #7323dc;
	text-align:center;
	font-size: medium;
	padding-top: 8px;
	font-weight: bold;
}
li .loading-section-books{
	width: 100%;
	height: 40px;
	color: white;
	clear: both;
	background-color: #7323dc;
	text-align:center;
	font-size: medium;
	padding-top: 8px;
	font-weight: bold;
}
.book-info-row .book-rating-sec{
	float: left;
	margin-right: 4px;
}

.nav-tabs>li>a{
	margin-right = 0;
	color:black
} 

ul>li{
	margin:0;
} 

md-tab-content.md-no-scroll{
	overflow : hidden;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active{
	font: bold;
	color: black;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
	font: normal;
	color: black
}