.type-ahead-box {
width: 50%;
float: left;
padding-top: 8px;
}

.type-ahead-box .form-control {
	width: 100%;
}

.search-section .search-button {
width: 20%;
float: left;
}

.search-section .advance-search-link {
	float: left;
	width: 30%;
	padding-top: 10px;
}

.advance-search-link a {
	color: #7323dc;
}

.advance-search-link a:HOVER {
	color: #7323dc;
}

.search-section {
	width: 100%;
	float: left;
	min-height: 100px;
	padding-left: 25%;
}

.nameSection {
	float: right;
	width: 120px;
	font-weight: bold;
	height: 20px;
	color: white;
}

.studentPicSection {
	float: right;
	width: 50px;
	height: 40px;
	margin-top: -10px;
	margin-right: 20px;
}

.btn-group>.btn:first-child {
	background-color: green;
}

.spanHeading {
	float: right;
}

.nav-bar-second {
	padding: 50px 10px 10px 10px;
}

md-tabs {
	width: 100%;
}