.type-ahead-box {
	width: 50%;
	float: left;
	padding-top: 8px;
}

.type-ahead-box .form-control {
	width: 100%;
}

.search-section .search-button {
	float: left;
	width: 50px;
	height: 34px;
	margin-top: 8px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: white;
	cursor: pointer;
}

.search-section .advance-search-link {
	float: left;
    width: 100px;
    padding-top: 16px;
    margin-left: 10px;
}

.advance-search-link a {
	color: white;
}

.advance-search-link a:HOVER {
	color: white;
	text-decoration: underline;
}

.search-section {
	width: 85%;
	/* float: left; */
	min-width: 300px;
	padding-left: 25%;
	position: relative;
	margin-top: -55px;
}

.name-section {
	width: 120px;
	font-weight: bold;
	height: 20px;
	color: white;
}

.header-user-pic-section {
	width: 30px;
	margin-right: 8px;
}

.btn-group>.btn:first-child {
	background-color: green;
}

.spanHeading {
	float: right;
}

.nav-bar-second {
	padding: 50px 10px 10px 0px;
}

md-tabs {
	width: 100%;
}