<div class="book-shelf-area">
<div  id="book-shelf-first-line"></div>
<div class="book-shelf-sec">
<ul> 
<li ng-repeat="bookShelf in bookShelves"> 

<a href="" ng-click="">
<div class="book-shelf">
<strong>{{bookShelf.shelfName}}</strong>
<div class="shelf-cover-photo">
<img alt="" src="assets/img/no_books_preview/no_image.jpg">
</div>
<div class="shelf-info">
<ul>
<li><strong>Created On</strong> 12/16/2015</li>
<li><strong>Last Updated On</strong> 12/16/2015</li>
<li><strong>Total Books</strong> 10</li>
</ul>
</div>
</div>
</a>

 </li>
 </ul> 
</div>
</div>