#notes-section{
	width: 100%;
	min-height: 1000px;
	float: left;
	background-color: white;
}
.notes-filter-section{
	height:100%;
	float: left;
}
.notes-display-section{
	width: 70%;
	float: right;
	height: 100%;
}

/* common css */
.gd-col {
    padding-left: 14px;
    float: left;
    position: relative;
}
.gu4 {
    width: 234px;
}
.facetList .facet-head {
    background: 0;
    color: #565656;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
}
.facetList{
	margin-top: 30px;
}
.facetList .oneFacet {
    background: #fff;
    border-top: 1px solid #e5e5e5;
}
.facetList .oneFacet .facetContainer {
    padding: 10px;
}
.head {
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.line{
	overflow: hidden;
}
.facet-title {
    overflow: hidden;
    position: relative;
}
.facetList .oneFacet .head .clear {
    margin-left: 15px;
    color: #999;
    text-transform: uppercase;
    line-height: 19px;
}
.facetList .filterBox {
    padding: 5px;
    display: none;
    position: relative;
}
.facetList .filterBox input {
    width: 211px;
    padding: 0 5px 5px 0;
    font-size: 13px;
    color: #999;
    height: 18px;
    line-height: 18px;
    border: 0;
    border-bottom: 1px solid #ddd;
}
.icon-notes {
    width: 15px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 4px;
}
.facetList .oneFacet ul.facets {
    margin-right: 5px;
    margin-left: -40px;
}
.facetList .oneFacet .scroll {
    overflow: auto;
    height: 135px;
}
.note-info ul{
	list-style: none;
	margin-left: -40px;
}
.facetList .oneFacet li.facet {
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    border: 1px solid transparent;
    transition: all 100ms linear 0ms;
}
.facetList .oneFacet li.facet a {
    display: inline-block;
    width: 100%;
    padding: 4px;
    color: black
}
.facet .active md-checkbox{
	line-height: normal;
	margin: 0px;
}
.your-notes-album-section{
	float: left;
}
.your-notes-album-section .header .back{
	padding: 10px;
	color:purple;
	font-size: small;
	margin: 10px;
	margin-bottom: 30px;
	
}