#bookReviewPartialSec {
	width: 100%;
	height: 100%;
}

#bookReviewPartialSec .review-section-area {
	 width: 100%; 
	margin: 5px;
	float: left;
	position: relative;
}
.hide-show-sec{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 5px;
	top : 10px;
}
#bookReviewPartialSec .review-section-area .left-section {
	margin: 5px;
	height: 50px;
	float: left;
	width: 70px;
}

#bookReviewPartialSec .review-section-area .left-section .user-display-section
	{
	width: 100%;
	padding: 5px;
	height: 50px;
}

#bookReviewPartialSec .review-section {
	padding: 5px;
	width: 80%;
	float: right;
	border-bottom: 1px solid;
}
#bookReviewPartialSec .comment-section {
	padding: 5px;
	width: 80%;
	float: right;
}
#bookReviewPartialSec .review-section .review-text {
	padding: 5px;
	font-weight: bold;
}

#bookReviewPartialSec .comment-section .comment-text {
	padding: 5px;
}

#bookReviewPartialSec .review-options-section {
	width: 100%;
	height: 30px;
	float: left;
}

#bookReviewPartialSec .review-options-section .option {
	padding: 0px 5px 0px;
	float: left;
}
.see-all-review-sec{
	margin-top: 10px;
	margin-left: 34px;
}
.gap-5px {
	padding-left: 5px;
}

.comment-section-area{
	float:left;
	width: 100%;
	 transition: height 1s;
    -webkit-transition: height 1s;        
    -moz-transition: height 1s;        
    -o-transition: height 1s; 
}
.comment-text-area{
	margin-left: 10px;
	padding: 5px;
	margin-top: 5px;
}