.bookDetailsDisplay{
	height: 620px;
}
.bookDetailsDisplay .first-line{
	width: 100%;
	position: relative;
	margin-top: -10px;
}
.bookDetailsDisplay .first-line .cross-image-sec{
position: absolute;
right: -1%;

}

.bookDetailsDisplay .first-line .cross-image-sec img{
width: 20px;
}

.bookDetailsLeftSection{
	height: 100%;
	width: 48%;
	float: left;
	border-right: solid;
}
.bookDetailsRightSection{
	height: 100%;
	width: 52%;
	float: right;
	padding-left: 20px;
}
.book-display-section{
	width: 100%;
	height: 40%;
	clear: both;
}
.infoSection li{
	height: 26px;
}
.book-cover-section{
	width:  40%;
	float: left;
	border:solid;
	border-color: black;
	position: relative;
}
.book-cover-section img{
	object-fit: contain;
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;
}
.book-display-section .book-info-section{
	float: right;
	width: 60%;
	padding-left: 20px;
}
 .book-display-section .book-info-section .book-info-row{
margin-top: 10px;	
}

.book-cover-section .read-book-link-section img{
	position: absolute;
	bottom: 3%;
	right: 0%;
	width: 30px;
	height: 30px;
}
.infoSection{
	width: 60%;
	height: 100%;
	float: right;
}
.bookEditionSection{
height: 100px;	
}
.editionImageSection{
	margin: 5px;5px;5px;5px;
	height: 120px;
}
.editionBookImage{
	margin-left:20px;
	float:left;
	background-color: aqua;
}
.editionBookImage img{
	width: 120px;
	height: 100%;
	object-fit: contain;
}
.editionLabel{
	clear: both;
	padding-top: 10px;
}
.image{
	float:left;
margin-left:10px; 
object-fit: contain;
height: 110px;
}
.image:visited{
	border: solid;
}
.editionCarouselSection{
	height:100px;
	margin: 10px;
	margin-left: 60px;
}
.editionCarouselSection img{
	width: 100px;
	object-fit:contain
}
.editionCarouselSection .carousel-control.right{
	background-image: none;
}

.editionCarouselSection .carousel-control.left{
	background-image: none;
	margin-left: -60px;
}

.editionCarouselSection .carousel-indicators{
	z-index: 0;
	visibility: hidden;
}
.editionbookInfoLabel{
	margin-top:5px;
	clear: both;
	height: 80px;
}
.bookReviewSection{
	clear: both;
	height: 110px;
}
.textareaReview{
	margin-top: 30px;
}
.submitButton{
	float: right;
	margin-right: 30px;
}
.readBookLink{
	width: 50%;
	float: left;
	margin-top: -15px;
}
.addToShelfButton{
	width: 50%;
	float:left;
}
.readOnlineButton{
	width: 80%;
	color: blue;
}
.readBookLink .md-button{
	width: 78%;
} 


#bookInfo-partial-section .book-rating-popover-sec {
	border: none;
	margin-top: 10px;
}

#bookInfo-partial-section .book-rating-popover-sec .content-area {
	background-color: green;
}

#bookInfo-partial-section .book-rating-popover-sec .first-line {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 2px;
}
#bookInfo-partial-section .book-rating-popover-sec .content-area .display-overall-rating-section .left{
	margin-top: -30px;
}
.your-star-rating-section{
	margin-top: 15px;
	font-weight: bold;
	font-size: large;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.your-rating-star{
	margin-left: 10px;
	float: left;
}
.your-rating-label{
	float: left;
	width: 30%;
}