<div class="login-form" ng-show="forgotPasswordForm">
			<span class = "login-header">
			Forgot Password
			</span>
			<div class="form-item">
			<md-input-container>
      			<label>email</label>
      			<input ng-model="forgotPasswordEmail">
    		</md-input-container>
    		</div>
			
			<md-button class="md-raised md-primary button-full-width" ng-click="recoverPassword()">
					Recover Password 
			</md-button>
			
			<div class="login-footer-section">
			<span> New User? </span><a href="" class="a-text-color-purple" ng-click="showSignUpForm()">Sign Up</a>
			</div>
</div>