<div>
	<script type="text/ng-template" id="loginDialogContent.html">

	<div id="login-page">
		<div class="left">

			<div class="background-container">
				<div class="text-block">
					<div class="heading-text">Why Sign Up?</div>
					<div class="signup-reason-container">
						<div class="signup-reason">Make your college community</div>
						<div class="signup-reason">Saty connected to your college</div>
						<div class="signup-reason">Review books and your college</div>
						<div class="signup-reason">Get rating of books</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right">
		<!-- Tab section for the buttons  -->
			<div class="tabs-section" ng-show="loginHomePage">
				<div class="social-connect-container">
					<div class="sc-gplus">
						<span class="sc-left"></span> <span class="sc-right">
							<div class="sc-text social-text">
								<i class="icon icon-gplus"></i>continue with goole+
							</div>
						</span>

					</div>

					<div class="sc-fb">
						<span class="sc-left"></span> <span class="sc-right">
							<div class="sc-text social-text">
								<i class="icon icon-fb"></i>continue with facebook
							</div>
						</span>

					</div>

				</div>
				<div class="alternate-option-header">Or use your email address</div>
				<div class="alternate-login-connect-container">
					<md-button class="md-raised md-primary signIn-button" ng-click="showSignInForm()">
					Login </md-button>
					<md-button class="md-raised md-primary signUp-button" ng-click="showSignUpForm()">
					Signup </md-button>
				</div>
			</div>
			<!-- End Tab section -->
			<!-- Login page -->
			<ng-include src = "'app/login/signIn-form.tpl.html'"></ng-include>
			<ng-include src = "'app/login/signUp-form.tpl.html'"></ng-include>
			<ng-include src = "'app/login/forgot-password-form.tpl.html'"></ng-include>
		</div>
	</div>




	</script>

</div>