<div class="navbar-darkblue">
	<div class="navbar-header">
		<a class="navbar-brand"> <img alt="" src="" class="header-image">
			<span class="header-title">College Days</span>
		</a>

	</div>
<div class="navbar-right"><a class="navbar-right-link" ng-click="openLoginDialog()">login </a></div>
	<div class="collapse navbar-collapse"></div>
</div>

<!-- Crousel section -->
<div class="content-container">
	<div class="carousel-panel">
		<carousel interval="myInterval" no-wrap="noWrapSlides"> <slide
			ng-repeat="slide in slides" active="slide.active"> <img
			ng-src="{{slide.image}}" style="margin: auto;"> 
			 </slide> </carousel>
	</div>

	<div class="panel">
		<div class="panel-display">
			<div class="hp-banner">Get Started NOW</div>

			<div class="hp-product-content">
				<div class="helpSection">
					<a href="#">Quick View</a>
				</div>
				<div class="icon">
					<img alt="" src="assets/img/open-books/open-book.jpg">
				</div>
				<div class="title">OnLine Book Reading</div>
				<div class="desc">Read Online Books Free</div>
			</div>

			<div class="hp-product-content">
				<div class="helpSection">
					<a href="#">Quick View</a>
				</div>
				<div class="icon">
					<img alt="" src="assets/img/notes/note1.jpg">
				</div>
				<div class="title">Get Notes</div>
				<div class="desc">
					Read or Submit Notes and <strong>Earn Reward</strong>
				</div>
			</div>

			<div class="hp-product-content">
				<div class="helpSection">
					<a href="#">Quick View</a>
				</div>
				<div class="icon">
					<img alt="" src="assets/img/collegeinfo/college_info1.jpg">
				</div>
				<div class="title">Browse College</div>
				<div class="desc">Get Information about a college and the
					reviews</div>
			</div>

			<div class="hp-product-content">
				<div class="helpSection">
					<a href="#">Quick View</a>
				</div>
				<div class="icon">
					<img alt="" src="assets/img/submit-review/submit_review1.jpg">
				</div>
				<div class="title">Review Your College</div>
				<div class="desc">Submit Review of college to help others
					choose correct one</div>
			</div>

			<div class="hp-product-content">
				<div class="helpSection">
					<a href="#">Quick View</a>
				</div>
				<div class="icon">
					<img alt="" src="assets/img/register_college.jpg">
				</div>
				<div class="title">Register Your College</div>
				<div class="desc">Register Your College and Let the world know
					about You.</div>
			</div>


		</div>

	</div>

	<div class="panel">
		<div class="panel-display">

			<div class="ourVisionSection">
			<!-- <img class="visionBodyImage" alt="" src="assets/img/open-books/open-book.jpg"> -->
				<div class="visionTitle">Our Vision</div>
				<div class="visionBody">
					<div class="visionBodyText">
						<ul>
							<li>Make Student Life Easy</li>
							<li>Automate College Activities</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- START- footer section   -->
	<div class="panel">
		<div class="panel-display">
			<div class="footer-display-area">

				<div class="footer-section">
					<div class="footer-title">Company</div>
					<div class="footer-links">
						<a href="">About Us</a>
					</div>
					<div class="footer-links">
						<a href="">Career</a>
					</div>
				</div>

				<div class="footer-section">
					<div class="footer-title">Follow On</div>
					<div class="footer-links">
						<a href="">Facebook</a>
					</div>
					<div class="footer-links">
						<a href="">Twitter</a>
					</div>
					<div class="footer-links">
						<a href="">Linked In</a>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>
<!-- END - footer section -->

<!-- include the login modal template -->
<ng-include src = "'app/login/login.tpl.html'"></ng-include>
